<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" href="/static/css/chatting/chatting.css">
	<script type="module" src="/static/js/chatting/add-friend-event.js"></script>
</head>

<body>
	<section layout:fragment="section">		
		<div class="friend-section-wrapper">
			<div class="add-friend-button-wrapper">
				<p>친구 목록</p>
				<div>
					<button id="add-friend-modal-open-button" type="button">친구 추가</button>
					<span class="hand-point-left">
						<i class="fas fa-hand-point-left"></i>
					</span>
				</div>
			</div>
			
			<div id ="friend-list-wrapper">
				
			</div>
		</div>

		<div class="chatting-section-wrapper">
			채팅구역
		</div>

		<div id="add-friend-modal-wrapper" class="add-friend-modal-wrapper">
			<div class="add-friend-modal">
				<p class="add-friend-title">친구 추가</p>
				<input id="add-friend-input" class="add-friend-input" type="text" placeholder="친구의 이메일을 입력해주세요."
					value="">
				<button id="add-friend-button" class="add-friend-button" type="button">추가</button>

				<div class="add-friend-list-wrapper">
					<ul id="add-friend-list" class="add-friend-list">
					</ul>
				</div>

				<div class="add-friend-modal-close-button-wrapper">
					<button id="send-button" type="button">전송</button>
					<button id="add-friend-modal-close-button" type="button">X</button>
				</div>
			</div>
		</div>

	</section>
</body>

</html>