section {
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.friend-section-wrapper {
    background-color: #EBEBEB;
    border-radius: 10px;
    height: 90%;
    width: 20%;
}

.friend-section-wrapper > .add-friend-button-wrapper {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.hand-point-left {
	color: var(--main-dracula-color);
	opacity: 0.7;
}

.chatting-section-wrapper {
    background-color: #EBEBEB;
    border-radius: 10px;
    height: 90%;
    width: 70%;
}

.chatting-section-wrapper > .chatting-section-head-wrapper {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-friend-modal-wrapper {
	position: absolute;
	display: none;
	width: 50%;
	height: 50%;
	min-height: 300px;
}

.add-friend-modal {
	background-color: var(--main-bg-color);
	opacity: var(--main-bg-opacity);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	min-width: 500px;
}

.add-friend-title {
	white-space: nowrap;
	margin: 0;
	color: white;
	font-size: 1.7rem;
	text-align: center;
}

.add-friend-input {
	margin: 0px 0px 0px 20px;
	display: inline;
	margin-top: 30px;
	width: 75%;
	height: 24px;
}

.add-friend-button {
	white-space: nowrap;
	display: inline;
	width: 15%;
	height: 30px;
}

.add-friend-list-wrapper {
	height: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.add-friend-list-wrapper::-webkit-scrollbar {
	width: 10px;
}

.add-friend-list-wrapper::-webkit-scrollbar-thumb {
	background-color: #2f3542;
}

.add-friend-list li {
	color: white;
	list-style-type : none
}

.add-friend-list .delete-button {
	margin-left: 5px;
}

.add-friend-modal-close-button-wrapper {
	position: absolute;
	top: 90%;
	left: 47%;
}

.make-chatting-room-modal-wrapper {
	position: absolute;
	display: none;
	width: 50%;
	height: 50%;
	min-height: 300px;
}

.make-chatting-room-modal {
	background-color: var(--main-bg-color);
	opacity: var(--main-bg-opacity);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	min-width: 500px;
}

.make-chatting-room-title {
	white-space: nowrap;
	margin: 0;
	color: white;
	font-size: 1.7rem;
	text-align: center;
}
